<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.css" />
    <script type="application/javascript" src="../assets/bootstrap/js/jquery.js"></script>
    <script type="application/javascript" src="../assets/bootstrap/js/popper.js"></script>
    <script type="application/javascript" src="../assets/bootstrap/js/bootstrap.js"></script>
    <title>JivanDaan</title>
    <link rel="stylesheet" href="../css/auth.css">
    <title>JivanDaan</title>
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="../index.html">
            <img src="../assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            JivanDaan
        </a>
    </nav>

    <div id="login-form" class="container">
        <center>
            <br> <br>
            <h1 class="logo__text">Login Page</h1>
            <br> <br>
        </center>

        <div v-if="msg_bool" class="alert alert-primary" role="alert">
            {{ msg }}
        </div>
        <div v-if="err_bool" class="alert alert-danger" role="alert">
            {{ err_msg }}
        </div>

        <form>
            <div class="form-group">
                <label for="userEmail">Email address</label>
                <input type="email" v-model="email" class="form-control" id="userEmail" aria-describedby="emailHelp"
                    placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="userPassword">Password</label>
                <input type="password" v-model="password" class="form-control" id="userPassword" placeholder="Password">
            </div>
        </form>

        <center>
            <a href="./auth.html"><button class="btn btn-danger">Back</button></a> &nbsp;&nbsp;&nbsp;&nbsp;
            <button type="submit" v-on:click="func_login" class="btn btn-primary">Submit</button>
        </center>
    </div>

    <script type="module" src="../js/lib/localforage.js"></script>
    <script>
        if (localStorage.getItem("auth-token") != null) {
            alert("Already logged in")
            window.location.pathname = "../index.html"
        }
    </script>
    <script src="../js/vue/vue.js"></script>
    <script src="../js/auth/login.js"></script>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>

</body>

</html>